[Desktop Entry]
Name=Mario 64
Comment=Bing Bing Wahoos with puppycam
Exec=sm64.us.f3dex2e
Terminal=false
Type=Application
StartupNotify=true
Icon=icon
Categories=games;
